 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 402px;
}

.u-section-1 .u-list-1 {
  width: 760px;
  margin: 60px auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 210px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }
}